
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
.borde{
    border-bottom: solid 2px lightseagreen;
    
}
.navbar{
    position: fixed;
    top: 0;
    z-index: 90;
    color: white;
}
.img-logo{
    width: 2rem;
    position: relative;
    top: -4px;
    margin-right: 10px;
}
.logo{
    color: white;
    letter-spacing: 1px; 
}

.navbar li{
    margin-left: 30px;
}
.navbar li a{
    padding: 6px 60px;
    border-radius: 20px;
    color: white;
}
.navbar li a:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(32, 31, 31);
}

.container__carousel img{
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    object-position: 0% 0%;
}
.quienes-somos{
    margin-top: 5em;
}
.destacados{
    margin-top: 7em;
}
.formulario{
    margin-top: 8em;
    margin-bottom: 5em;
}
.contenedor-columnas{
    margin-left:5%;
    margin-right:5%;
    display: flex;
    justify-content: space-between;
}
.columna{
    /* border: solid 5px red; */
    width: 30%;
}
.icono{
    text-align: center; 
    background-color: lightseagreen;
    height: 2.5em;
    
}
.icono i{
    position: relative;
    top: 10px;
    font-size: 1.1em;
}
.contenedor-card{
    display: flex;
    justify-content: space-around;
    
    
}
.card{
    background-color: lightseagreen;
    width: 17rem;
    align-self: center;

}
.card:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.card h4{
    cursor: pointer;
    user-select: none;
}
.card img{
    height: 12rem;
    object-fit: cover;
}
.card p{
    font-size: medium;
}

/* .imagen-reajustada{
    height: 12rem;
    object-fit: cover;
} */

footer{
    background-color: lightseagreen;
}
.footer-text{
    position: relative;
    top: 5px;
}
.footer-text h2{
    cursor: pointer;
}
footer a:link{
    text-decoration: none;
}
.svgs{
    position: absolute;
    right: 0;
    top: 5px;
    display: flex;
    justify-content: flex-end;
    
}
.svgs i{
    margin-left: 1em;
    font-size: 2.6em;
    cursor: pointer;
}

@media only screen and (max-width: 1400px) {
    .card{
        margin-bottom: 2em;
    }
}

@media only screen and (max-width: 1200px){
    .svgs{
        /* right:80px; */
        position: static;
        justify-content: center;
    }
    .icon-left i{
        margin-left: 0;
    }
    .footer-text{
        text-align: center;
        margin-bottom: 20px;
    }
    .formulario{
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 545px){
    .img-logo{
        margin-right: 0;
    }
    .logo{
        font-size: 1em;
        transition: 0.5s;
    }
    .hamburguesa{
        padding:2px 3px;
        transition: 0.5s;
        
    }
    
    .card{
        width: auto;
        max-width: 18rem;
        min-width: 15rem;

    }
    .container__carousel img{
        width: 100%;
        height: auto;
    }
    .svgs{
        width: auto;
    }
    .svgs i{
        font-size: 1.2em;
        transition: 0.5s;
        
    }
}